@font-face {
    font-family: Satisfy;
    src: url(../fonts/Satisfy.woff2);
}

@font-face {
    font-family: Lora;
    src: url(../fonts/Lora.woff2);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

#admin-authorizate-wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    min-width: 320px;
    max-width: 1680px;
    margin: 0 auto;
    background: url(../images/admin-panel/authorizate-background.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    word-wrap: break-word;
}

#authorizate-form-wrapper {
    position: absolute;
    top: 50%;
    left: 37.5%;
    display: inline-block;
    width: 25%;
    padding: 20px 20px 0;
    font-family: Lora;
    background-color: rgba(123, 101, 128, 0.5);
}

.authorizate-form-section {
    text-align: left;
    margin-bottom: 20px;
}

.authorizate-form-headline {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 700;
}

.admin-panel-head {
    padding: 10px 20px 10px 20px;
    background-color: rgba(123, 101, 128, 0.5);
    border-bottom: 4px solid rgba(123, 101, 128);
}

.comments-table-wrapper {
    width: 60%;
    margin: 50px 20% 0;
    background-color: #fff;
}

.text-lightgrey-color {
    color: #FFD082;
}

.table {
    table-layout: fixed;
}

.checked-td {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.5rem;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.special-checked-wrapper {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: rgba(123, 101, 128, 0.5);
}

.special-checked-wrapper > label {
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
}

.special-checked-input {
    display: none;
}

.special-checked-input:checked + div.special-checked {
    display: block;
}

.special-checked {
    display: none;
    width: 100%;
    height: 100%;
    background: url(../images/sprite-icons/check-entry.png) no-repeat center;
    background-size: 2rem;
}

.user-photo {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.table-tr {
    display: block;
    width: 100%;
    float: left;
    position: relative;
    padding-left: 3rem;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table-tr-th {
    border-bottom: 2px solid #dee2e6;
}

.table-tr-td {
    border-top: 1px solid #dee2e6;
}

.table-th, .table-td {
    display: block;
    float: left;
    border-bottom: 0 !important;
    border-top: 0 !important;
}

.table-tr > td.table-td:nth-child(2), .table-tr > th.table-th:nth-child(2) {
    width: 10%;
}

.table-tr > td.table-td:nth-child(3), .table-tr > th.table-th:nth-child(3) {
    width: 20%;
}

.table-tr > td.table-td:nth-child(4), .table-tr > th.table-th:nth-child(4) {
    width: 20%;
}

.table-tr > td.table-td:nth-child(5), .table-tr > th.table-th:nth-child(5) {
    width: 20%;
}

.table-tr > td.table-td:nth-child(6), .table-tr > th.table-th:nth-child(6) {
    width: 30%;
}

.table-tr-url {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 0 3.5rem !important;
    border-top: 0 !important;
    width: 100%;
    height: 100%;
}

.table-tr-url > a {
    display: block;
    width: inherit;
    height: inherit;
}

.comments-list-empty {
    margin-bottom: 20px;
}

.comment-detail-wrapper {
    width: 50%;
    float: left;
    background-color: #fff;
    padding: 20px 20px 0;
    margin: 50px 0 0 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.dropshadow(offX=5, offY=5, color=#000000);
    filter: progid:DXImageTransform.Microsoft.shadow(direction=0, color=#000000, strength=10);
}

.comments-item {
    border-bottom: 2px solid rgba(184, 180, 178, 0.3);
    margin-bottom: 20px;
    word-wrap: break-word;
    width: 100%;
    float: left;
}

.comments-item > div {
    width: 100%;
    float: left;
}

.comments-item-head {
    position: relative;
    min-height: 70px;
    padding: 10px 10px 10px 70px;
}

.comments-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.comments-head-data {
    position: relative;
    width: 60%;
}

.head-data-headline {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.head-data-date {
    font-size: 14px;
    color: #b5b5b5;
}

.comments-head-data {
    float: left;
}

.comments-item-content {
    text-align: left;
    margin-bottom: 20px;
}

.comments-email {
    width: 38%;
    float: right;
    text-align: right;
    color: #17a2b8;
}

.comments-attachment-photos {
    padding: 10px;
}

.comments-attachment-photo {
    width: 32%;
    height: 150px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.attachment-photo-indentation {
    margin-right: 2%;
}

.comments-extra-options, .form-submit-wrapper {
    margin-bottom: 20px;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-align-middle {
    display: inline-block;
    min-height: 2rem;
    float: left;
    margin-right: 10px;
}

.comments-extra-options > label {
    margin: 0;   
}

.form-result .validator-success, .form-result .validator-error {
    position: relative;
    min-height: 0;
    right: 0;
    margin-bottom: 20px;
}

.comments-actions-wrapper {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 1rem;
}

.comments-actions-wrapper > button {
    white-space: pre;
}

.actions-wrapper-blocks {
    display: table-cell;
}

.actions-result-message {
    position: relative;
    width: 100%;
    padding-left: 2%;
    overflow: hidden;
}

.actions-result-message .validator-error {
    right: -100%;
}

.action-result {
    right: 0 !important;
}

#comments-delete-form {
    display: inline-block;
}

.pagination-wrapper {
    text-align: center;
}

.pagination {
    display: inline-flex !important;
}

.panel-head-controls {
    position: relative;
    padding-right: 3rem;
}

.admin-logout-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    background: url(../images/admin-panel/admin-logout.png) no-repeat left;
    background-size: 6rem;
    border: none;
    outline: none;
    text-decoration: none;
}

.admin-logout-button:hover {
    background-position: -3rem;
}

.admin-logout-button:focus {
    border: none;
    outline: none;
}